#banner
  .banner_content
    %h1 File Cabinet
    %p The Works
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p talented Java developer to join our API team. Come build the backend systems that power our music service. We're looking for:
        3+ years of professional Java development experience using Spring
        Expertise developing and consuming RESTful APIs
        Experience with Elasticsearch a plus
        music lover
        We have a fun and flexible work environment and a great new office. Join us and enjoy what you are working on. We're prelaunch - major opportunity!



#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path